body {
  background-color: #E4F9F5;
  font-family: 'Raleway', sans-serif;
  color: #40514E;
}

h1 {
  font-size: 3.625rem;
  margin: 0;
  font-family: 'Bilbo Swash Caps', cursive;
  text-align: center;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  text-align: center;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile {
  text-align: center;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.mar-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  color: #66BFBF;
  height: 200px;
}
.contact-me {
  width: 40%;
  margin: 30px auto 60px;
}
